# Test report for Task Management System

## Test case 1: Create a task and assign it to a user

**What is being tested**:
Method `addTask` in class `Task` and method `addTask` in class `TaskManager`.

**How it is tested**:

1. Create a `Task`with the name `Task 1`.
2. Create a user named `Paul`.
3. Assign the task to Paul.

**Expected outcome**:  
The task should be created and displayed on consol.

**Actual outcome**:  
Failed
