# Test report for Task Management System

## Test case 1: Assign a task for user

**What is being tested**:
Method `assignTask` in class `User` and method `addTask` in class `TaskManager`.

**How it is tested**:

1. Create a `Task`with the name `New Assignment`.
2. Add the task to the `TaskManager`.
3. Create a user named `Paul`.
4. Assign the task to Paul.
